


<hr class="bg-info w-50 mt-5">
<div class="container">
    <div class="row col-12">
        <div class="col-lg-4 col-xs-12 mt-5 text-left">
            <h2>BrokerageFree</h2>
            <p>Stay Connected with us</p>
            <div>
                <p><a href="https://www.instagram.com/vedika379/"><i class="fa fa-instagram mr-2"
                            aria-hidden="true"></i></a>Follow us on Instagram</p>
                <p><i class="fa fa-envelope mr-2" aria-hidden="true"></i>vaidehichaudhary@gmail.com</p>
                <p><i class="fa fa-envelope mr-2" aria-hidden="true"></i>sayalidhote@gmail.com</p>
            </div>
        </div>
       
        <div class="col-lg-3 col-xs-12 mt-5 text-right">
            <h2>Contact Us</h2>
            <p><i class="fa fa-envelope mr-2" aria-hidden="true"></i>vaidehikolte@gmail.com</p>
            <p><i class="fa fa-envelope mr-2" aria-hidden="true"></i>sayalidhote@gmail.com</p>
            
        </div>
    </div>
</div>
<div class="container">
    <span class="text-muted">All Rights Reserved 2021 @BrokerageFree</span>
</div>
